body {
  /* background-color: #d3d3d3; */
  /* background-color: #32302f; */
  background-color: #3c3836;
  /* background-color: #504945; */
  padding: 0;
  margin: 1em;
}

.resume {
  width: 800px;
  opacity: 0;
  /* border-radius: 20px; */
  animation-name: slideInRight;
  animation-delay: 0.4s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.resume-link {
  opacity: 0;
  animation-name: slideInRight;
  animation-delay: 1.8s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button-link {
  border: 2px solid #ebdbb2;
  width: 370px;
  padding: 8px;
  border-radius: 8px;
}

a {
  /* color: #b8bb26; */
  /* color: #076678; */
  color: #ebdbb2;
  text-decoration: none;
}

@media screen and (max-width: 840px) {
  .resume {
    width: 100%;
  }
  a {
    font-size: 20px;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}