body {
  /* background-color: #d3d3d3; */
  /* background-color: #32302f; */
  background-color: #3c3836;
  /* background-color: #504945; */
  padding: 0;
  margin: 1em;
}

.resume {
  /* border-radius: 12px; */
  opacity: 0;
  animation-name: slideInRight;
  animation-delay: 0.4s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}